<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite">

  <test thread-count="5" name="TestModule">
    <classes>
      <class name="pckg.test1"/>
      <class name="pckg.test2"/>
    </classes>
  </test> 
  
  <test name = "Car Loan">
  <classes>
  <class name = "pckg.carloan"/>
  </classes>
  </test>
  
  <test name = "Home Loan">
  <classes>
  <class name = "pckg.homeloan"/>
  </classes>
  </test>
  
  
</suite> 
